<div id="main">
        <form [formGroup]="ragistrationform" (ngSubmit)="onsubmit()" class="container col-md-4 ">
            <div class="card border">
                <div class="form-group p-2">
                <label for="firstName" class="">Enter Your First Name</label><br>
                <input class="form-control p-2" type="text" id="firstName" formControlName="firstName" required>
                <span *ngIf=""></span>
                </div>
                <div class="form-group p-2">
                <label for="lastName">Enter Your Last Name</label><br>
                <input class="form-control" type="text" id="lastName" formControlName="lastName" required>
                </div>
                <div class="form-group p-2">
                <label for="password">Password</label><br>
                <input class="form-control" type="password" id="password" formControlName="password" required>
                </div>
                <div class="form-group p-2">
                <label for="email">Email</label><br>
                <input class="form-control" type="email" id="email" formControlName="email" required>
                </div>

                <div id="button " class="form-group p-2">
                    <button (click)="loginnavigate()" type="submit" class="btn btn-primary">submit</button>
                </div>
                <p>  do you want to Login ? <a routerLink="/login" >Login</a></p>
            </div>
        </form>
    </div>

   
