
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #card{
            height: 100%;
            width: 100%;
            background-color: black;
        }
    </style>
</head>
<body>



   
       <!-- <input type="radio" (click)="onshowA('A')"   name="A" value="A" id="">show A
       <input type="radio" (click)="onshowA('B')" name="A" value="B" id="">show B

       <div *ngIf ="show==='A'">
        <div id="showA" style="color: rgb(38, 29, 129);"> show A</div>

       </div>

       <div *ngIf ="show==='B'">
       <div id="showA" style="color: red;"> show B</div>
    </div>
    <form #form="ngForm">
        <input type="radio" name="option" value="A" [(ngModel)]="selectedOption"> Option A
        <input type="radio" name="option" value="B" [(ngModel)]="selectedOption"> Option B
      </form>
      
      <div *ngIf="selectedOption === 'A'">Div A Content</div>
      <div *ngIf="selectedOption === 'B'">Div B Content</div> -->
      
    
</body>
</html>

  




<router-outlet>
</router-outlet>
